body {
  background-color: #f0f0f0;
}

/* Header styles */
.page-header-img img {
  max-height: 400px;
}

.page-header-title {
  text-align: center;
  height: 100%;
}

.page-header-title .text-container {
  text-align: left;
  display: inline-block;
  margin: 0, auto;
  font-style: italic;
}

/* Nav bar styles */



/* Main body styles */
.main-body-header {

}

.main-body {

}
