body {
  background-color: #ffffff;
}

.main-container {
  width: 100%;
  /*max-width: 1200px;*/
  height: 100vh;
  background-color: #f0f0f0;
}

/* Header styles */
.page-header {
  margin-top: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #efefef;
  background-color: #0f1316;
}

.page-header-content {
  max-width: 1200px;
}

.page-header-img img {
  max-height: 400px;
  padding-bottom: 20px;
}

.page-header-title {
  text-align: center;
  height: 100%;
}

.page-header-title .text-container {
  text-align: left;
  display: inline-block;
  margin: 0, auto;
  padding-right: 20px;
  font-style: italic;
}

.page-header-title h1 {
  font-size: 60px;
}

.page-header-title p {
  font-size: 15px;
}

/* Nav bar styles */



/* Main body styles */
.main-body-header {

}

.main-body {

}
